.navbar
{
	background-color: black;
	opacity: 0.86;
}
.navbar a
{
	color: white;
}

.breakImage
{
	position: relative;
}
.imageTittleContainer
{
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 30%;
}

.imageTittle
{
	color: white;
	font-size: 7em;
}

#breakImage
{
	width: 100%;
	height: 800px;
}